.node {
    height: 3rem;
    width: 3rem;
    border: 0.1rem solid rgb(75, 155, 255);
    animation: 500ms nodeAnimation 1 alternate;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.destroy-node {
    animation: 500ms destroyAnimation 1 alternate;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.start-node {
    background-color: hsla(120, 100%, 40%, 0.75);
}

.end-node {
    background-color: hsla(0, 100%, 40%, 0.75);
}

.wall-node {
    background-color: hsla(240, 100%, 15%, 0.75);
}

.visited-node {
    animation: 1.5s visitedAnimation 1 alternate;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.path-node {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeAnimation {
    from {
      transform: scale(0);
    }
  
    to {
      transform: scale(1);
    }
}

@keyframes destroyAnimation {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(0);
    }
}

@keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: hsla(270, 100%, 15%, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: hsla(240, 85%, 45%, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: hsla(210, 100%, 45%, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: hsla(180, 100%, 45%, 0.75);
    }
}

@keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: hsl(40, 100%, 50%);
    }
  
    50% {
      transform: scale(1.2);
      background-color: hsl(50, 100%, 60%);
    }
  
    100% {
      transform: scale(1);
      background-color: hsl(60, 100%, 70%);
    }
}